{% extends 'layout.html' %}
{% block content %}
<div>
<div class="row">
    <div class="col-sm">
        <h3>All Songs</h3>
        <ol>
        {% for song in songs %}
        <li><a id="font2" style="font-size: 1.5em; color: black" href="{{ url_for('songs.song_detail', id=song.id) }}">{{ song.title }} - {{ song.views }}</a></li>
    

        {% endfor %}
        </ol>
    </div>
    <div class="col-sm">
        <h3>Top Playlist</h3>
        {% if playlists %}
        {% for playlist in playlists %}
        <li><a id="font2" style="font-size: 1.5em; color: black" href="{{ url_for('playlists.playlist_detail', id=playlist.id) }}">{{ playlist.title }} - {{ playlist.views }}</a></li>
      
        
        {% endfor %}
        {% else %}
        <h3 id="font2" style="font-size: 1.5em; color: black">There are no playlists to display</h3>
        {% endif %}
    </div>
    <div class="col-sm">
        <h3>Top Users</h3>
        {% for user in users %}
        <li id="font2" style="font-size: 1.5em; color: black">{{ user.email }} - {{ user.followers }}</li>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}