{% extends 'layout.html' %}
{% block content %}

    <div id="firstbg" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row" style="padding: 1em">
                    <div class="col-4">
                            <center>
                        <div class="card" style="width: 100%;">
                                <img class="card-img-top" src="{{ url_for( 'static', filename='default3.jpg')}}" alt="Card image cap">
                                <div class="card-body" style="background-color:#FFEFDB">
                                  <h5 class="card-title">#1 STREAMED SONG</h5>
                                </div>
                              </div>
                        </center>
                            </div>
                    <div class="col-8">
                        <p id="sickfont">
                            MOST STREAMED SONG
                        </p>
                        <br><br>
                        <p style="color: #FFEFDB">
                            Songify is an amazing audio streaming platform that provides protected 
                            music from many different record labels and media companies from artists 
                            all over the world. Songify is available across a range of devices, including 
                            computers, phones, tablets, cars, speakers, and TVs.
                        </p>

                        </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row" style="padding: 1em">
            <div class="col-9">
            {% for song in html_songs%}
            <center>
                <div id="rc">
                    <div class="row">
                    <div class="col-4" style="padding: 0% ;">      
                           <img style="height:8em; width:10em; padding: 1em ;" src="{{ url_for( 'static', filename= song.image_file)}}" >
                    </div>
                    <div class="col-8" style="padding: 0% ;"> 
                        <div class="row">       
                            <div class="col-8" style="padding:0%">
                            <h1 id="font2" style="font-size: 2.5em">{{song.title}}</h1>
                            <h1 id="font2" style="font-size: 2em">{{song.genre}}</h1>
                            <h1 id="font2" style="font-size: 1em">Duration: {{song.get_length()}}</h1>
                           </div>
                           <div class="col-4" style="padding:0%">
                                <a href="{{url_for( 'main.analytics' )}}" class="btn btn-outline-info" role="button">Info</a>
                           </div>
                        </div>
                     </div>
                </div>
                </div>
           <br>
        </center>
            {% endfor %}
            </div>
            <div class="col-3">
                    <div style="height: 12em;">
                            <img style="height:100%; width:100% ;" src="{{ url_for( 'static', filename='logo.png')}}" >
                        </div>
                        <br>
                    <div id="rc" style="height: 50em; width: 100%">
                            <p id="font2" style="font-size:1.2em; padding: 10px;">Top Playlists</p>
                            <ul>
                        {% for p in playlists%}
                        <br>
                                <li>
                                    <p id="font2" style="font-size:1.2em">{{p}}</p>
                                </li>
                        {% endfor %}
                    </ul>
                    </div>

            </div>
        </div>


    </div>
  

{% endblock content %}