<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <!-- tailwindcss -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <noscript>You need to enable JS to run this file.</noscript>
  <div id="app"></div>
</body>


<!-- react -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<!-- react dom -->
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<!-- react router dom -->
<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

<!-- babel -->
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<!-- my code -->
<!-- login page -->
<script src="{{ url_for('static', filename='Login.jsx')}}" type="text/jsx"></script>
<!-- register component -->
<script src="{{ url_for('static', filename='register.jsx')}}" type="text/jsx"></script>
<!-- home -->
<script src="{{ url_for('static', filename='Home.jsx')}}" type="text/jsx"></script>
<!-- songs -->
<script src="{{ url_for('static', filename='Songs.jsx')}}" type="text/jsx"></script>
<!-- main app -->
<script src="{{ url_for('static', filename='app.jsx')}}" type="text/jsx"></script>

</html>