<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">MySongify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% include 'navbar/home.html' %}
            {% include 'navbar/song.html' %}
            {% include 'navbar/analytics.html' %}
            {% include 'navbar/create_playlist.html' %}
            {% include 'navbar/dropdown.html' %}
          </ul>
          {% include 'navbar/search.html' %}
        </div>
      </nav>