<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #FFEFDB;">
        <a class="navbar-brand" href="{{ url_for('main.home') }}"><img style="height: 80px; width: 100px; padding: 0px; margin: 0px" src="{{ url_for( 'static', filename='logo.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% include 'navbar/home.html' %}
            {% include 'navbar/song.html' %}
            {% include 'navbar/analytics.html' %}
            {% include 'navbar/create_playlist.html' %}
            {% include 'navbar/playlist_list.html' %}
            {% include 'navbar/dropdown.html' %}
            {% include 'navbar/credits.html' %}
            
          </ul>
          {% include 'navbar/search.html' %}
        </div>
      </nav>